<!DOCTYPE html>
<html>
<head>
	<title>TOP of the TOP</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='design.css') }}">
</head>
<body>
	<div class="container col-lg-4">
		<div class = "frank_design">
			<p>Frank Synatra</p>
			<img width="150" height="200" src="https://m.media-amazon.com/images/M/MV5BNTYzMzM2ODgzM15BMl5BanBnXkFtZTYwOTc5MzM2._V1_UY317_CR0,0,214,317_AL_.jpg"></div>
		<div class = "amy_design">
			<p>Amy Winhouse</p>
			<img width="150" height="200" src="https://akns-images.eonline.com/eol_images/Entire_Site/2018813/rs_634x1024-180913115030-634-2007-amy-winehouse.jpg?fit=inside|900:auto&output-quality=90"></div>
			
	</div>
</body>
</html>